@import-normalize;

html, body, #root {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

main {
    height: calc(100% - 48px);    
    max-height: calc(100% - 48px);  
    overflow: auto;
    padding: 16px;
}

.resetContainerWithSpacing {
    width: 100%;
    margin: 0;
}

.fillAvailableHeight {
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: stretch;                 /* Latest spec. */
}